
@{
    Layout = null;
}

<!DOCTYPE html>
@if (Session["UserId"] != null)
{
    <hd> Hello @Session["Username"].ToString().</hd>
}
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>LoggedIn</title>
</head>
<body>
    <div> 
    </div>
</body>
</html>
